Hieu/MrBill-Userinterface/MrBill_MVC/Service References/MrBillServices/MrBillServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MrBillServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1906/MrBillServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1906/MrBillServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1906/MrBillServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MrBillServices.DTO" />
      <xsd:import schemaLocation="http://localhost:1906/MrBillServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMrBillServices_GetMrBillUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMrBillUsers" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_GetMrBillUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMrBillUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_GetSupplierByListId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierByListId" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_GetSupplierByListId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierByListIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_GetMrBillUsersWithoutSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMrBillUsersWithoutSuppliers" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_GetMrBillUsersWithoutSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMrBillUsersWithoutSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_testConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:testConnection" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_testConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:testConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_SendEmailReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailReport" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_SendEmailReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailReportResponse" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_pdfReview_InputMessage">
    <wsdl:part name="parameters" element="tns:pdfReview" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_pdfReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:pdfReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_DownloadReport_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadReport" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_DownloadReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadReportResponse" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_WriteScraperLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteScraperLog" />
  </wsdl:message>
  <wsdl:message name="IMrBillServices_WriteScraperLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteScraperLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IMrBillServices">
    <wsdl:operation name="GetMrBillUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMrBillServices/GetMrBillUsers" message="tns:IMrBillServices_GetMrBillUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMrBillServices/GetMrBillUsersResponse" message="tns:IMrBillServices_GetMrBillUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplierByListId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMrBillServices/GetSupplierByListId" message="tns:IMrBillServices_GetSupplierByListId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMrBillServices/GetSupplierByListIdResponse" message="tns:IMrBillServices_GetSupplierByListId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMrBillUsersWithoutSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMrBillServices/GetMrBillUsersWithoutSuppliers" message="tns:IMrBillServices_GetMrBillUsersWithoutSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMrBillServices/GetMrBillUsersWithoutSuppliersResponse" message="tns:IMrBillServices_GetMrBillUsersWithoutSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMrBillServices/testConnection" message="tns:IMrBillServices_testConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMrBillServices/testConnectionResponse" message="tns:IMrBillServices_testConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMrBillServices/SendEmailReport" message="tns:IMrBillServices_SendEmailReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMrBillServices/SendEmailReportResponse" message="tns:IMrBillServices_SendEmailReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pdfReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IMrBillServices/pdfReview" message="tns:IMrBillServices_pdfReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMrBillServices/pdfReviewResponse" message="tns:IMrBillServices_pdfReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMrBillServices/DownloadReport" message="tns:IMrBillServices_DownloadReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMrBillServices/DownloadReportResponse" message="tns:IMrBillServices_DownloadReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteScraperLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IMrBillServices/WriteScraperLog" message="tns:IMrBillServices_WriteScraperLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMrBillServices/WriteScraperLogResponse" message="tns:IMrBillServices_WriteScraperLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMrBillServices" type="tns:IMrBillServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMrBillUsers">
      <soap:operation soapAction="http://tempuri.org/IMrBillServices/GetMrBillUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierByListId">
      <soap:operation soapAction="http://tempuri.org/IMrBillServices/GetSupplierByListId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMrBillUsersWithoutSuppliers">
      <soap:operation soapAction="http://tempuri.org/IMrBillServices/GetMrBillUsersWithoutSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap:operation soapAction="http://tempuri.org/IMrBillServices/testConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailReport">
      <soap:operation soapAction="http://tempuri.org/IMrBillServices/SendEmailReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pdfReview">
      <soap:operation soapAction="http://tempuri.org/IMrBillServices/pdfReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <soap:operation soapAction="http://tempuri.org/IMrBillServices/DownloadReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteScraperLog">
      <soap:operation soapAction="http://tempuri.org/IMrBillServices/WriteScraperLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MrBillServices">
    <wsdl:port name="BasicHttpBinding_IMrBillServices" binding="tns:BasicHttpBinding_IMrBillServices">
      <soap:address location="http://localhost:1906/MrBillServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>