Hieu/MrBill-Scraper.v2/Scraper/Scraper/Service References/MrBillServices/MrBillServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mrbill.mrorange.nu/services/MrBillServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MrBillServices.DTO" />
  <xs:import schemaLocation="http://mrbill.mrorange.nu/services/MrBillServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetMrBillUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrBillUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MrBillServices.DTO" minOccurs="0" name="GetMrBillUsersResult" nillable="true" type="q1:ArrayOfMrBillDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierByListId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierByListIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MrBillServices.DTO" minOccurs="0" name="GetSupplierByListIdResult" nillable="true" type="q3:ArrayOfSupplierInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrBillUsersWithoutSuppliers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMrBillUsersWithoutSuppliersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MrBillServices.DTO" minOccurs="0" name="GetMrBillUsersWithoutSuppliersResult" nillable="true" type="q4:ArrayOfContactInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testConnectionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="emailList" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pdfReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pdfReviewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="emailList" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteScraperLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="supplierId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteScraperLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteScraperLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>