Hieu/MrBill-Scraper.v2/Scraper/Scraper/Service References/MrBillServices/MrBillServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MrBillServices.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MrBillServices.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMrBillDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MrBillDTO" nillable="true" type="tns:MrBillDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMrBillDTO" nillable="true" type="tns:ArrayOfMrBillDTO" />
  <xs:complexType name="MrBillDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserSupplier" nillable="true" type="tns:ArrayOfUserSupplierdata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MrBillDTO" nillable="true" type="tns:MrBillDTO" />
  <xs:complexType name="ArrayOfUserSupplierdata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSupplierdata" nillable="true" type="tns:UserSupplierdata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSupplierdata" nillable="true" type="tns:ArrayOfUserSupplierdata" />
  <xs:complexType name="UserSupplierdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSupplierdata" nillable="true" type="tns:UserSupplierdata" />
  <xs:complexType name="ArrayOfSupplierInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierInfoDTO" nillable="true" type="tns:SupplierInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierInfoDTO" nillable="true" type="tns:ArrayOfSupplierInfoDTO" />
  <xs:complexType name="SupplierInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResetPasswordUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignUpUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierInfoDTO" nillable="true" type="tns:SupplierInfoDTO" />
  <xs:complexType name="ArrayOfContactInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactInfoDTO" nillable="true" type="tns:ContactInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactInfoDTO" nillable="true" type="tns:ArrayOfContactInfoDTO" />
  <xs:complexType name="ContactInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactInfoDTO" nillable="true" type="tns:ContactInfoDTO" />
</xs:schema>