Hieu/MrBill-Services/MrBillAuthentication/MrBill-token/TestToken/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MrBillServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MrBillServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="UserSupplierInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserIdentity" nillable="true" type="tns:UserIdentity" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSupplierInfo" nillable="true" type="tns:UserSupplierInfo" />
  <xs:complexType name="UserIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdentity" nillable="true" type="tns:UserIdentity" />
</xs:schema>